flows.json
[{"id":"a2082d0c.d6368","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4bb8129e.5037ec","type":"rpi-dht22","z":"a2082d0c.d6368","name":"DHT22","topic":"rpi-dht22","dht":22,"pintype":"0","pin":"4","x":300,"y":460,"wires":[["738c8b5e.fa2c44","34ff07bd.d32178","fc90becf.4ad1c","6185e49b.cb071c"]]},{"id":"12a427ee.1bba28","type":"inject","z":"a2082d0c.d6368","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":460,"wires":[["4bb8129e.5037ec"]]},{"id":"94a4804b.92579","type":"debug","z":"a2082d0c.d6368","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":460,"wires":[]},{"id":"1fcc3722.c9a439","type":"debug","z":"a2082d0c.d6368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":300,"wires":[]},{"id":"454dd0cc.7d522","type":"debug","z":"a2082d0c.d6368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":620,"wires":[]},{"id":"738c8b5e.fa2c44","type":"function","z":"a2082d0c.d6368","name":"Temperature","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":360,"wires":[["1fcc3722.c9a439","699f004b.ef22c","9f883d2f.87b81","d340a637.66e3f8"]]},{"id":"34ff07bd.d32178","type":"function","z":"a2082d0c.d6368","name":"Humidity","func":"\nmsg.payload = msg.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":560,"wires":[["454dd0cc.7d522","5b68186d.d54ec8","204a1cd5.0c97f4","d20a58b4.111968"]]},{"id":"699f004b.ef22c","type":"ui_gauge","z":"a2082d0c.d6368","name":"","group":"ff755fd7.8018b","order":0,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":340,"wires":[]},{"id":"5b68186d.d54ec8","type":"ui_gauge","z":"a2082d0c.d6368","name":"","group":"ff755fd7.8018b","order":1,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":580,"wires":[]},{"id":"9f883d2f.87b81","type":"file","z":"a2082d0c.d6368","d":true,"name":"","filename":"/home/pi/Desktop/DHT/Temperature","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1050,"y":140,"wires":[[]]},{"id":"204a1cd5.0c97f4","type":"file","z":"a2082d0c.d6368","d":true,"name":"","filename":"/home/pi/Desktop/DHT/Humidity","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1030,"y":780,"wires":[[]]},{"id":"fc90becf.4ad1c","type":"function","z":"a2082d0c.d6368","d":true,"name":"Time","func":"msg.payload = {Time: new Date()}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":300,"wires":[["9f883d2f.87b81","1fcc3722.c9a439"]]},{"id":"6185e49b.cb071c","type":"function","z":"a2082d0c.d6368","d":true,"name":"Time2","func":"msg.payload = {Time: new Date()}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":620,"wires":[["454dd0cc.7d522","204a1cd5.0c97f4"]]},{"id":"27ddd20a.da9a8e","type":"rpi-gpio out","z":"a2082d0c.d6368","name":"HumiFanGPIO22","pin":"15","set":true,"level":"0","freq":"","out":"out","x":1290,"y":540,"wires":[]},{"id":"d20a58b4.111968","type":"function","z":"a2082d0c.d6368","name":"ThresholdHumi","func":"if (msg.humidity < 45) {\n  msg.payload = false\n} else if (msg.humidity > 45) {\n  msg.payload = true\n} else {\n  msg = null\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":540,"wires":[["94a4804b.92579","27ddd20a.da9a8e"]]},{"id":"d340a637.66e3f8","type":"function","z":"a2082d0c.d6368","name":"ThresholdTemp","func":"if (msg.payload < 25) {\n  msg.payload = false\n} else if (msg.payload > 25) {\n  msg.payload = true\n} else {\n  msg = null\n}\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":380,"wires":[["94a4804b.92579","70ef05a5.5b74dc"]]},{"id":"70ef05a5.5b74dc","type":"rpi-gpio out","z":"a2082d0c.d6368","name":"TempFanGPIO27","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1290,"y":380,"wires":[]},{"id":"ff755fd7.8018b","type":"ui_group","name":"Temperature and Humidity","tab":"50aaf734.528188","order":1,"disp":true,"width":"6","collapse":false},{"id":"50aaf734.528188","type":"ui_tab","name":"Embedded Linux ","icon":"dashboard","disabled":false,"hidden":false}]